<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="muleNetExample001.Properties.Settings.muleNetDBExample001ConnectionString"
            connectionString="Data Source=VMACHINE-PC;Initial Catalog=muleNetDBExample001;User ID=muleNetDBUser;Password=mulenet"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>